kernel.elf
loader.elf
os.iso
bochslog.txt
iso/boot/kernel.elf
iso/boot/loader.elf
out/*
ld_mapping
ld_mapping_full
ld_mapping_loader
ld_mapping_loader_full
disassembly
disassemblyl
.dep/*
disk.img
libc.a
libc++.a
